* {
    box-sizing: border-box;
  }
  
  .AboutContent {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 100vh;
  }
  
  .left {
    flex-basis: 50%;
    margin-right: 50px;
    text-align: justify;
  }
  
  .left h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .left p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #023e8a;
  }
  
  .right {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .web {
    background-color: #292121;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    transition: transform 0.3s ease;
  }
  
  .android {
    background-color: #292121;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    transition: transform 0.3s ease;
  }
  
  .android:hover, .web:hover {
    background-color:#373e47;
    transform: translateY(-5px);
  }
  
  .web h2,
  .android h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .web p,
  .android p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .fa-icon {
    color: #0077b6;
    font-size: 38px;
    margin-bottom: 10px;
  }
  
  /* Responsive styles for smaller devices */
  @media only screen and (max-width: 768px) {
    .AboutContent {
      width:100%;
      flex-direction: column;
      padding: 20px;
    }
  
    .left {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .right {
      flex-basis: 100%;
    }
  
    .web,
    .android {
      flex-basis: 100%;
    }
  
    .btn {
      font-size: 16px;
      padding: 8px 16px;
    }
  
    .right h1 {
      font-size: 24px;
      text-align: center;
    }
  
    .web h2,
    .android h2 {
      font-size: 20px;
    }
  
    .web p,
    .android p {
      font-size: 16px;
    }
  
    .fa-icon {
      font-size: 28px;
    }
    
    /* Adjust padding for smaller screens */
    .AboutContent {
      width:100%;
      padding: 20px;
    }
  
    .left {
      margin-right: 0;
      text-align: center;
    }
  
    .left h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }
  
    .left p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    .right h1 {
      font-size: 28px;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .web h2,
    .android h2 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    .web p,
    .android p {
      font-size: 16px;
      margin-bottom: 5px;
    }
  
    .fa-icon {
      font-size: 28px;
      margin-bottom: 5px;
    }
  }